#vmview {
  display: none;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/*.vmtile {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16pt;
  border: 2px solid #575757;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  display: block;
  padding: 4px;
}*/
#vmDisplay, #btns {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

#vmlist > div.row > div {
  padding-bottom: 10px;
}
#vmlist div.col-md-3 > div.card:hover {
  cursor: pointer;
  border-color: rgb(158, 218, 9);
}

.navbar {
  padding: 8px 13px !important;
}

.vmtile > img {
  margin-bottom: 2px;
}

.chat-table, .username-table {
  overflow-y: auto;
  border: 1px solid #51544f;
  border-bottom: 0 solid #00000000;
  border-radius: 9px;
}
.chat-table {
  height: 30vh;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 2em;
}

.username-table {
  max-height: 30vh;
  border: 1.25px solid #51544f;
}
.username-table > table > thead {
  position: sticky;
  top: 0;
}

.input-group-text, #sendChatBtn {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#turnstatus {
  z-index: 0;
  padding: 5px 8px;
  position: absolute;
  user-select: none;
  transform: translateX(200%) translateY(-24px);
}
#voteResetPanel {
  text-align: center;
}

#vmdisplay canvas {
  transition: box-shadow 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-box-shadow 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-box-shadow 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
tbody#userlist tr {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.focused {
  box-shadow: 0 0 9px 0 rgba(30, 255, 229, 0.7);
  -moz-box-shadow: 0 0 9px 0 rgba(30, 255, 229, 0.7);
  -webkit-box-shadow: 0 0 9px 0 rgba(30, 255, 229, 0.7)
}
.waiting {
  box-shadow: 0 0 9px 0 rgba(244, 234, 46, 0.47);
  -moz-box-shadow: 0 0 9px 0 rgba(244, 234, 46, 0.47);
  -webkit-box-shadow: 0 0 9px 0 rgba(244, 234, 46, 0.47)
}

body {
  margin-bottom: 14px !important; /* idk why not */
}

#staffbtns {
  display: none;
  margin: 2.3px 0;
  text-align: center;
}

#staffbtns > button {
  display: none;
}

#qemuMonitorOutput {
  height: 180px;
}

#xssCheckboxContainer {
  display: none;
}

#forceVotePanel {
  display: none;
}

tr.user-admin .userlist-username, .chat-username-admin, .username-admin {
  color: #ff2222 !important;
}

tr.user-moderator .userlist-username, .chat-username-moderator, .username-moderator {
  color: #22ff22 !important;
}

html[data-bs-theme="dark"] {
  tr.user-unregistered .userlist-username, .chat-username-unregistered, .username-unregistered {
    color: #bdbdbded !important;
  }
  
  tr.user-registered .userlist-username, .chat-username-registered, .username-registered {
    color: #FFFFFF !important;
  }

  tr.user-registered.user-turn .userlist-username, tr.user-registered.user-waiting .userlist-username {
    color: #000000 !important;
    --bs-table-color: #000000 !important;
  }
  
  tr.user-unregistered.user-turn .userlist-username, tr.user-unregistered.user-waiting .userlist-username {
    color: #585858 !important;
    --bs-table-color: #585858 !important;
  }

  body {
    background-color: #1b1e20 !important;
  }
}

html[data-bs-theme="light"] {
  tr.user-unregistered .userlist-username, .chat-username-unregistered, .username-unregistered {
    color: #6b6b6bed !important;
  }
  
  tr.user-registered .userlist-username, .chat-username-registered, .username-registered {
    color: #000 !important;
  }
}

tr.user-turn > td {
  background-color: #cfe2ff !important;
  --bs-table-bg-state: #cfe2ff !important;
  color: #000000;
  --bs-table-color: #000000;
}

tr.user-turn:hover, tr.user-turn > td:hover {
  background-color: #c1feff !important;
  --bs-table-bg-state: #c1feff !important;
}

tr.user-waiting > td {
  background-color: #fff3cd !important;
  --bs-table-bg-state: #fff3cd !important;
  color: #000000;
  --bs-table-color: #000000;
}

.tr.user-waiting:hover, tr.user-waiting > td:hover {
  background-color: #ead7abf2 !important;
  --bs-table-bg-state: #ead7abf2 !important;
}

.user-current .userlist-username {
  font-style: italic;
}

/* Start OSK */
.osk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.simple-keyboard.hg-theme-default {
  display: inline-block;
}

.osk-main.simple-keyboard {
  max-width: 640px;
  background: none;
}

.osk-main.simple-keyboard .hg-row:first-child {
  margin-bottom: 8.51px;
}

.osk-arrows.simple-keyboard {
  align-self: flex-end;
  background: none;
}

.simple-keyboard .hg-button.selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.simple-keyboard .hg-button.emptySpace {
  pointer-events: none;
  background: none;
  border: none;
  box-shadow: none;
}

.osk-arrows .hg-row {
  justify-content: center;
}

.osk-arrows .hg-button {
  width: 50px;
  flex-grow: 0 !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

.controlArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.osk-control.simple-keyboard {
  background: none;
}

.osk-control.simple-keyboard .hg-row:first-child {
  margin-bottom: 8.51px;
}

.osk-control .hg-button {
  width: 50px;
  flex-grow: 0 !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

.numPad {
  display: flex;
  align-items: flex-end;
}

.osk-numpad.simple-keyboard {
  background: none;
}

.osk-numpad.simple-keyboard {
  width: 160px;
}

.osk-numpad.simple-keyboard .hg-button {
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.osk-numpadEnd.simple-keyboard {
  width: 50px;
  background: none;
  margin: 0;
  padding: 5px 5px 5px 0;
}

.osk-numpadEnd.simple-keyboard .hg-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.osk-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
  height: 85px;
}

.osk-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
  height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
  width: 350px;
}

@media screen and (max-width: 640px) {
  .hg-button:not(:last-child) {
    margin-right: 1px !important;
  }
}

/*
Theme: cvmDark
*/

.simple-keyboard.cvmDark .hg-button {
  border-bottom: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.cvmDark .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.cvmDark + .simple-keyboard-preview {
  background: #1c4995;
}

/*
Theme: cvmDisabled (its a theme? bruh ok - ganewies team)
*/
.simple-keyboard.cvmDisabled .hg-button {
  border-bottom: none;
  pointer-events: none;
  background: gray;
  color: white;
}

/* End OSK */

#badPasswordAlert {
  display: none;
}

/* NSFW Blur */
.cvm-nsfw {
  img {
    filter:blur(30px)!important; 
  }
  h5::before {
    content: "[NSFW] ";
    color: #ff3636f5;
  }
}

#accountDropdownMenuLink, #accountModalError, #accountModalSuccess {
  display: none;
}

/* Emoji font for systems without one */
@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../assets/NotoColorEmoji.ttf');
}

.userlist-flag {
  padding-right: 0.5rem;
  font-family: 'Noto Color Emoji', 'system-ui', sans-serif !important;
  user-select: none;
}

.userlist-flag:empty {
  display: none;
}

/* some css shits */
#nav-other-items { display: flex }
